* {
    margin: 0;
    padding: 0;
  }
  


body{
    background-color: #548CFF;
    font-family: 'Press Start 2P', 'VT323', 'DotGothic16';
    overflow-y:hidden;
    overflow-x:hidden;
}
  
header{
    color: #faf9f9;
    display: block;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
}
    
main {
    max-width: 45rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

main .caja_main{
    border: outset #7E4A22;
    padding: 1rem;
    margin: 0 1% 0 1%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-image: url(https://i.pinimg.com/originals/5e/3f/71/5e3f7154cd1cf3d70bb3d512a6a96425.png);
    background-position: center;
    background-size: contain;
    height: auto;
}

label {
    color: #FCD6C9;
    text-shadow: 0.1em 0.1em rgb(10, 7, 7);
    display: block;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
  }

textarea{
    border:  outset black;
    display: block;
    padding: 0.5rem;
    width: 95%;
    resize: none;
    outline: none;
}

.caja_main #textarea-AreaEscribir{
    border-bottom: none;
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: sans-serif;
    
}

.caja_main #textarea-AreaResultado{

    border-top: none;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: sans-serif;
   
}

.caja_botones{
    display: flex;
    justify-content: space-between;
}

button{
    font-family: 'VT323';
    font-weight: bold;
    color: #E65B06;
    text-shadow: 0.1em 0.1em black;
    font-size: 20px;
    background-color:#FBA53E;
    border-width: medium;
    border-style: outset;
    border-top: #E55D13;
    border-left: #E55D13;
    border-right: black;
    border-bottom: black;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

p{
    color: #FCD6C9;
    text-shadow: 0.1em 0.1em black;
    font-size: 10%;
    margin: 1.5%;
    position: relative;
    top: 5%
}

footer .decoracion{
    display: flex;
    justify-content: space-between;
}

footer .decoracion #mario{
    height: 4%;
    position: absolute;
    top: -4%;
}

footer .decoracion #castillo{
    height: 18%;
    position: absolute;
    right: 18%;
    top: -18%;
}

footer{
    background: url(https://lh3.googleusercontent.com/LYl4ePgOsdfLiDYa6QumqC71cxgQ7bTnS0IQv13JoSO5XvEqCf7qHJHwGz4d25JYTo861reDctwRpI9eQmyckA-2cu7qlncYMzE);
    background-size: 4%; 
    width: 100%;
    height: 100%;
    position: absolute;
    padding:10.9%;
    margin-top: 15%;
}
